/* Reset box-sizing and set base font size */
html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Set font family and colors */
body {
    font-family: "Montserrat", Arial;
    background-color: #333333;
    color: white;
    margin: 0; /* Remove default body margin */
}

/* Circle styling */
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust based on desired vertical space */
    margin-top: 20px; /* Adjust for spacing from top */
}

.circle {
    width: 180px; /* Size of the circle */
    height: 180px; /* Size of the circle */
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1; /* Adjust line-height to reduce vertical padding */
}

.circle-text {
    font-size: 5rem; /* Increased font size */
    font-weight: 900;
    color: white;
}

/* Style links */
a {
    text-decoration: none;
    color: white; /* Added to ensure consistent link color */
}

/* Style images */
img {
    filter: brightness(1);
    transition: filter 0.3s;
    display: block;
    margin: auto;
}

/* Apply hover effect on images */
img:hover {
    filter: brightness(0.7);
}

/* Customize scrollbar */
html {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

/* Style horizontal rule */
hr {
    width: 310px;
    opacity: 0.4;
}

/* Center align headings and paragraphs */
h1, h2, h3, p {
    text-align: center;
}

/* Style image links container */
.image-links-container {
    text-align: center;
    margin-top: 20px;
}

/* Style individual image links */
.image-links-container a {
    display: inline-block;
    margin: 0 6px; 
}
